# XDebug beállítás, ld. https://xdebug.org/docs/all_settings#mode
XDEBUG_MODE=off

# Ide tárolja a `db` container MySQL szervere az adatait. Adj meg egy
# írható-olvasható mappát vagy hagyd így.
MYSQL_DATA_DIR=./mysql_data/

# vim: ft=sh
